body{
    background-color: aqua;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 18px;
    margin: 0;
}
header{
    background-color: burlywood;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 100px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
section{
    float: left;
    width: 70%;
    margin-bottom: 100px;
}
aside{
    float: right;
    width: 25%;
}
footer{
    background-color: chartreuse;
    clear: both;
    padding: 50px 0;
    text-align: center;
}