img{
    width: 150px;
    height: 150px;
    float: left;
    /* position: relative; */
    /* top: 100px; */
}
p{
    /* clear: both; */
    float: left;
}
.box{
  width: 100px;
  height: 100px;
  float: left;
}
.box1{
    background: violet;
}
.box2{
    background:indigo;
}
.box3{
    background: blue;
}
.box4{
    background: rgb(0, 255, 0);
}
.box5{
    background: yellow;
}
.box6{
    background: orange;
}
.box7{
    background: rgba(255,0,0,0.10);
}
.box8{
    background: hsl(360,25%,50%);

}
.box9{
    background: rgb(232, 35, 222);
    opacity: 0.2;
}
.container{
    background-color: aqua;
    /* width: 600px; */
    width: 70%;
    max-width: 700px;
    margin: 0 auto;

}

.container::after{
    content:'';
    display: block;
    clear: both;
}
.a{
    clear: both;
}